body,html{margin:0;padding:0;height:50%;}

.img{
    
  margin: 0px;
  width: 215px;
  height: 210px;
  border-radius: 5px    
}
#divText{
    
    font-family: Verdana;
    font-family: 'PT Sans';
    
    
}
#link{

  color: black;
  text-decoration: none;
  margin: 30px;
  
  

}
#contenedor{

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
  
}
.box{

  border: 0px solid;
  padding: 10px;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
  background-color: white;
  width: 230px;
  height: 280px;
  justify-self: center;
  text-align: center;


}
nav{
    
  height: 50px;
  border: solid black 5px;
  justify-content: center;
  display: flex;
  text-decoration: none;
}
#lista li{
  
  display:inline;
  padding: 5px;
  margin: 10px
}
#lista a{
  
  text-decoration: none;
  color: black
  
}
#lista li:hover{
  
  border: 3px black solid;
  border-radius: 5px
  
}