@media (width:1588px) , (height:852px)   {
    
    nav {
    height: 65px;
    width: 100%;
    background-color: white;
    border-bottom: solid black 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    text-decoration: none;
    z-index: 100;
    }
    #lista{
    list-style: none;
    display: flex;

    }
    #lista > li > a {

    display: block;
	padding: 25px 25px;
	color: black;
	text-decoration: none;
    }

    #lista li:hover {
    background-color: #BADCFF;
    border-radius: 8px
    }
    #lista li ul {
    position: absolute;
	display: none;
	background-color:white;
	list-style: none;
	border-bottom: 2px solid white;
	border-radius: 8px;
    }
    #lista li ul li a {
    text-decoration: none;
	padding: 10px 10px;
	color: black;
    display: block;

    }
    #lista li:hover > ul {
    display: block;
    align-items: center;
    }
    .logo{
    display: flex;
    height: 100%;
}
.bicicleta{


    height: 60px;
    background-color: #e5e5e5;
    justify-content: center;
    align-items: center;
    display: flex


}
    .title {

    text-align: center;
    font-family: sans-serif;
    margin: 0px;



}
    #tabla{
    display: table;
    margin: 50px;
    margin-left: 200px;
    border: 0 solid;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    background-color: white

}
    #contenedor{

    justify-content: center;
    display: flex;
    background-color:#e5e5e5;
    border-bottom: solid #d6d6d6 2px;

}
    img{

    width: 650px;
    height: 650px;
    border: 0px solid;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
}
    #imagen {

    margin-top: 150px;
    height: 400px;
    margin-right: 100px;
 
}
    td{

    width: 50px;
    height: 50px;
    padding: 7px

}
    .contenedor2{

    display: block;
    margin: 0px;
    padding: 10px

}

body{margin: 0px}
}

@media (width:390px) , (height:844){
    nav {
        height: 3%;
        width: 100%;
        background-color: white;
        border-bottom: solid black 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        position: sticky;
        text-decoration: none;
        z-index: 100;
    }
    #lista{
        list-style: none;
        display: flex;
        padding: 0%;
    
    }
    #lista > li > a {
    
        display: block;
        padding: 7px;
        color: black;
        text-decoration: none;
        font-size: 13px;
    }
    
    #lista li:hover {
        background-color: #BADCFF;
        border-radius: 8px
    }
    #lista li ul {
        position: absolute;
        display: none;
        background-color:white;
        list-style: none;
        border-bottom: 2px solid white;
        border-radius: 8px;
    }
    #lista li ul li a {
        text-decoration: none;
        padding: 10px 10px;
        color: black;
        display: block;
    }
    #lista li:hover > ul {
        display: block;
        align-items: center;
    }
    .logo{
        display: flex;
        height: 100%;
    }
    .bicicleta{
    
    
        height: 60px;
        background-color: #e5e5e5;
        justify-content: center;
        align-items: center;
        display: flex
    
    
    }
    .title {
    
        text-align: center;
        font-family: sans-serif;
        font-size: 38px;
        padding-top: 50px;
    
    
    
    }
    #tabla{
        display: none;
        margin: 50px;
        margin-left: 200px;
        border: 0 solid;
        box-shadow: 0 0 10px grey;
        border-radius: 10px;
        background-color: white
    
    }
    #contenedor{
    
        justify-content: center;
        display: flex;
        background-color:#e5e5e5;
        border-bottom: solid #d6d6d6 2px;
    
    }
    img{
    
        width: 325px;
        height: 325px;
        border: 0px solid;
        box-shadow: 0 0 10px grey;
        border-radius: 10px;
    }
    #imagen {
    
        margin-top: 85px;
        height: 400px;
        
     
    }
    td{
    
        width: 50px;
        height: 50px;
        padding: 7px
    
    }
    .contenedor2{
    
        display: block;
        margin: 0px;
        padding: 10px
    
    }
    
    body{margin: 0px}
    






}